{{ define "main" }}
    <article class="main-article">
        <header class="article-header">
            <h1 class="article-title">{{ .Title }}</h1>
        </header>

        {{ $posts := where .Site.RegularPages "Section" "micro" }}
        {{ range $posts.GroupByDate "2006" }}
            <h2>{{ .Key }}</h2>
            {{ range .Pages }}
                <div class="micro-post-item">
                    <time>{{ .Date.Format "Jan 02" }}</time>
                    <div class="micro-post-excerpt">{{ .Content }}</div>
                </div>
            {{ end }}
        {{ end }}
    </article>
{{ end }}
