<script>
(async () => {
  const GIST_USERNAME = '{{ site.Params.comments.gistUsername }}';
  const GIST_ID       = '{{ site.Params.comments.gistId }}';

  try {
	  const res = await fetch(`https://gist.githubusercontent.com/${GIST_USERNAME}/${GIST_ID}/raw/comments.json?t=${Date.now()}`);
	  const all = await res.json();
	  document.querySelectorAll('.comment-count').forEach(el => {
		  const key   = el.dataset.postkey;
		  const count = (all[key] || []).length;
		  el.querySelector('.count-num').textContent = count;
	  });
  } catch(e) {
	  document.querySelectorAll('.count-num').forEach(el => el.textContent = '0');
  }
})();
</script>
